@require './config'
@require './custom-blocks'
@require './v2'

//配置
$h1Margin = 80px
$h2Margin = 40px
$h3Margin = 20px
$h4Margin = 20px

/*
 *
 * page 样式
 *
 */




/*
 *
 *内容文档样式控制
 *
 */



.pageV2 .content
  /* 标题 */
  h1, h2, h3, h4, h5, h6,
    display block
    font-weight 500
    color $textColorDark
    padding-top $headerHeight
    &:hover
      a
        color #000
        cursor pointer
        opacity .1
  h1
    margin ($h1Margin - $headerHeight) 0px 0px 0
    font-size 42px
    line-height 64px
  h2
    margin ($h2Margin - $headerHeight) 0 20px
    font-size 22px
  h3
    margin ($h3Margin - $headerHeight) 0px 10px 0
    font-size 18px
    line-height 36px
  h4
    margin ($h4Margin - $headerHeight) 0px 10px 0
    font-size 16px
    line-height 30px
  a.header-anchor
    display inline
    font-size 1em
    float left
    margin-left -0.87em
    padding-right 0.23em
    opacity 0
    &:hover
      opacity .2

  /* 正文 */
  p
    line-height 26px
    margin 10px 0
    color $textColorMain
  strong
    font-weight 500
    color $textColorDark
  /* 列表 */
  ul, ol
    padding-left 16px
    margin 20px 0
    color $textColorMain
    li
      line-height 26px
      padding-left 0px
      margin 5px 0
    ul
      margin 5px 0
  /* 图片 */
  img
    max-width 100%
    margin 10px 0
  /* 连接 */
  p a,li a
    font-weight normal
    color $stdBlue
    text-decoration none
    &:hover
      color lighten($stdBlue, 10%)
      text-decoration underline
  /* 代码 */
  code, kbd//代码样式
    font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
  p code,li code//行内代码
    background-color #0000000d
    color #666666
    padding 4px 6px
    display inline
    font-size 12px
  /* 块结构 */
  blockquote
    color #999
    border-left 3px solid #dfe2e5
    margin 20px 0
    padding-left 1rem
    font-size 14px
  /* 标记 */
  mark
    background-color transparent
    color $markColor
  /* 分割线 */
  hr
    border 0
    border-top 1px solid $borderColor
    &.footnotes-sep
      margin-top 60px
      margin-bottom 40px
  /* 脚注 */
  .footnotes
    margin-bottom -40px
    position relative
    background-color #f5f5f5ee
    font-size 13px
    padding 20px
    ol,li,p 
      margin 0
      line-height 26px
    &:before
      content "脚注："
      opacity .5
      color $textColorLight
      display block
      font-size 13px
      height 26px
      line-height 26px
      margin 0 0 0px 0
  /* 表格 */
  table
    border-collapse collapse
    margin 20px 0
    width 100%
  tr
    border-top 1px solid #dfe2e5
    &:nth-child(2n)
      background-color #ffff
  th, td
    border 1px solid #dfe2e5
    color $textColorMain
  th 
    line-height 52px
    text-align center
    background-color #fbfbfb
    color $textColorDark
  td
    line-height 26px
    min-width 80px
    padding 10px 15px




  /* 移动端 */
 @media (max-width: $MQMobile)
  .content 
    h1
      font-size 32px 
      margin -60px 0 20px 0  
    h2
      font-size 22px 
      margin -60px 0 20px 0  