// colors
$darkBlack = #0F1012    //用于黑色
$stdBlue = #108cee          //标准蓝色
$lightBlue = #eaf6fe         //浅蓝色
$bgLight= #f5f5f5
$textDark= #333333  
$textStd  = $white60 
$textColorLight = #999999        //标准文字颜色
$borderColor = #e6e6e6
$tableColor = #ebebeb
$codeBgColor = #282c34
$codeBgColorLight = #ffffff
$arrowBgColor = #cccccc
$markColor = #D0021B
$stdRed = #D0021B
$black     = #000000
$black85   = #000000d9
$black10   = #0000001a
$black20   = #00000033
$black60   = #00000099
$white     = #ffffff
$white10   = #ffffff1a //10%
$white20   = #ffffff33 //20%
$white50    = rgba(255,255,255,.5) //80%
$white60    = #ffffff99 //60%
$white80    = rgba(255,255,255,.8) //80%

// layout
$headerHeight = 60px
$sidebarWidth = 250px
$contentWidth = 800px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// 动画
$easeInStd   = cubic-bezier(.55, .055, .675, .19) //标准，用于一般情况
$easeInSine  = cubic-bezier(.47, 0, .745, .715)  //舒缓的，用于不想干扰用户的时候
$easeInQuint = cubic-bezier(.755, .05, .855, .06)  //较强的，用于突出强调

$easeOutStd = cubic-bezier(.215, .61, .355, 1) //标准 
$easeOutSine = cubic-bezier(.39, .575, .565, 1) //舒缓的，用于不想干扰用户的时候
$easeOutQuint = cubic-bezier(0.19, 1, 0.22, 1) //较强的，用于突出强调

$easeInOutStd = cubic-bezier(.645, .045, .355, 1) //标准，用于一般情况
$easeInOutSine = cubic-bezier(.445, .05, .55, .95) //舒缓的，用于不想干扰用户的时候
$easeInOutQuint = cubic-bezier(.86, 0, .07, 1) //较强的，用于突出强调