// colors
$accentColor = #999999      //用于下拉箭头的颜色
$stdBlue = #108cee          //标准蓝色
$lightBlue = #eaf6fe         //浅蓝色
$innerBgcolor = #f5f5f5
$lightBgcolor = #f7f7f7       //页面内灰色背景
$textColorDark = #333333  
$textColorMain = #666666 
$textColorLight = #999999        //标准文字颜色
$borderColor = #e6e6e6
$codeBgColor = #282c34
$codeBgColorLight = #ffffff
$arrowBgColor = #cccccc
$markColor = #D0021B

// layout
$headerHeight = 60px
$sidebarWidth = 280px
$contentWidth = 800px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// 动画
$slowFast = cubic-bezier(0.895, 0.03, 0.685, 0.22) //先慢后快的进入动画
$fastSlow = cubic-bezier(0.165, 0.84, 0.44, 1) //先快后慢的退出动画 

