// colors
$accentColor = #999999      //用于下拉箭头的颜色
$stdBlue = #108cee          //标准蓝色
$lightBlue = #eaf6fe         //浅蓝色
$innerBgcolor = #f5f5f5     //页面内灰色背景
$textColor = #333333  
$textGray = #666666        //标准文字颜色
$borderColor = #e6e6e6
$codeBgColor = #282c34
$codeBgColorLight = #ffffff
$arrowBgColor = #cccccc
$markColor = #ff0000

// layout
$headerHeight = 60px
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
