h2
  font-size 30px
  line-height 52px
  color #333333
  font-weight 400

h3
  font-size 18px
  line-height 36px
  color #333333
  font-weight 400

p 
  font-size 14px
  line-height 26px
  color #666666

.section-viewer
  .card.col-3
    &:first-child
      margin-left 0
    width 380px
    min-height 200px
    box-sizing border-box
    border 1px solid #e6e6e6
    background-color #fff
    padding 30px
    float left 
    margin-left 20px
    transition .15s all ease-in
    &:hover
      transform scale(1.03) 
      transition .15s all ease-in
    